@use "@toife/sass-layer" as sass;

// Class name
$toastContent: sass.fn-naming-prefix("toast-content");

// Property name - layer: toast
$toast-background-color: sass.fn-naming-var("background-color");
$toast-color: sass.fn-naming-var("color");
$toast-border-color: sass.fn-naming-var("border-color");

$space-x: sass.fn-naming-var("spacing", "x");
$transition-duration: sass.fn-naming-var("transition-duration");
$border-radius: sass.fn-naming-var("border-radius");
$border-width: sass.fn-naming-var("border", "width");
$max-height: sass.fn-naming-var("overlay", "max-height");

.#{$toastContent} {
  width: fit-content;
  height: fit-content;
  opacity: 1;
  transition:
    background-color #{$transition-duration} ease,
    color #{$transition-duration} ease,
    border-color #{$transition-duration} ease,
    border-radius #{$transition-duration} ease,
    opacity #{$transition-duration} ease;

  background-color: rgba(#{$toast-background-color});
  color: rgba(#{$toast-color});
  border-color: rgba(#{$toast-border-color});
  border-width: #{$border-width};
  border-style: solid;
  max-height: #{$max-height};
  max-width: 100%;
  padding: calc(#{$space-x} * 2) calc(#{$space-x} * 4);
  border-radius: #{$border-radius};

  &.closing {
    opacity: 0;
  }
}
