@use "@toife/sass-layer" as sass;
@use "sass:map";
@use "sass:list";

$grid-item: sass.fn-naming-prefix("grid-item");
$grid-item-row: sass.fn-naming-var("row");
$grid-item-column: sass.fn-naming-var("column");
$grid-item-justify: sass.fn-naming-var("justify");
$grid-item-align: sass.fn-naming-var("align");

.#{$grid-item} {
  display: grid;
  box-sizing: border-box;
  min-width: 0;
  grid-column: #{$grid-item-column};
  grid-row: #{$grid-item-row};
  justify-self: #{$grid-item-justify};
  align-self: #{$grid-item-align};

  $bp-names: map.keys(sass.$breakpoints);
  $bp-count: list.length($bp-names);

  @for $i from 1 through $bp-count {
    $bp-name: list.nth($bp-names, $i);
    $bp-min: map.get(sass.$breakpoints, $bp-name);

    @media (min-width: $bp-min) {
      grid-column: #{sass.fn-naming-cascade-dvar(("column"), $bp-names, $i, $grid-item-column)};
      grid-row: #{sass.fn-naming-cascade-dvar(("row"), $bp-names, $i, $grid-item-row)};
      justify-self: #{sass.fn-naming-cascade-dvar(("justify"), $bp-names, $i, $grid-item-justify)};
      align-self: #{sass.fn-naming-cascade-dvar(("align"), $bp-names, $i, $grid-item-align)};
    }
  }
}
