@use "@toife/sass-layer" as sass;

// Class
$button: sass.fn-naming-prefix("button");
$loader: sass.fn-naming-prefix("loader");

// Properties
$border-radius: sass.fn-naming-var("border-radius");
$border-width: sass.fn-naming-var("border", "width");
$transition-duration: sass.fn-naming-var("transition-duration");
$spacing-x: sass.fn-naming-var("spacing", "x");
$spacing-y: sass.fn-naming-var("spacing", "y");

$size-font-size: sass.fn-naming-var("font-size");
$size-control-block-size: sass.fn-naming-var("control-block-size");
$size-coefficient-x: sass.fn-naming-var("coefficient-x");
$size-coefficient-y: sass.fn-naming-var("coefficient-y");
$size-line-height: sass.fn-naming-var("line-height");

$button-color: sass.fn-naming-var("color");
$button-color-hover: sass.fn-naming-var("color", "hover");
$button-color-focus: sass.fn-naming-var("color", "focus");
$button-color-active: sass.fn-naming-var("color", "active");
$button-color-disabled: sass.fn-naming-var("color", "disabled");

$button-border-color: sass.fn-naming-var("border-color");
$button-border-color-hover: sass.fn-naming-var("border-color", "hover");
$button-border-color-focus: sass.fn-naming-var("border-color", "focus");
$button-border-color-active: sass.fn-naming-var("border-color", "active");
$button-border-color-disabled: sass.fn-naming-var("border-color", "disabled");

$button-background-color: sass.fn-naming-var("background-color");
$button-background-color-hover: sass.fn-naming-var("background-color", "hover");
$button-background-color-focus: sass.fn-naming-var("background-color", "focus");
$button-background-color-active: sass.fn-naming-var("background-color", "active");
$button-background-color-disabled: sass.fn-naming-var("background-color", "disabled");

$button-box-shadow: sass.fn-naming-var("box-shadow");
$button-box-shadow-hover: sass.fn-naming-var("box-shadow", "hover");
$button-box-shadow-focus: sass.fn-naming-var("box-shadow", "focus");
$button-box-shadow-active: sass.fn-naming-var("box-shadow", "active");
$button-box-shadow-disabled: sass.fn-naming-var("box-shadow", "disabled");

$button-backdrop-filter: sass.fn-naming-var("backdrop-filter");
$button-backdrop-filter-hover: sass.fn-naming-var("backdrop-filter", "hover");
$button-backdrop-filter-focus: sass.fn-naming-var("backdrop-filter", "focus");
$button-backdrop-filter-active: sass.fn-naming-var("backdrop-filter", "active");
$button-backdrop-filter-disabled: sass.fn-naming-var("backdrop-filter", "disabled");

.#{$button} {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  border-style: solid;
  border-width: #{$border-width};
  white-space: nowrap;
  border-radius: #{$border-radius};
  cursor: pointer;
  color: rgba(#{$button-color});
  background: rgba(#{$button-background-color});
  box-shadow: #{$button-box-shadow};
  backdrop-filter: #{$button-backdrop-filter};
  border-color: rgba(#{$button-border-color});
  transition:
    color #{$transition-duration} ease,
    background-color #{$transition-duration} ease,
    border-color #{$transition-duration} ease,
    border-radius #{$transition-duration} ease,
    box-shadow #{$transition-duration} ease;
    
  padding: calc(#{$spacing-y} * #{$size-coefficient-y}) calc(#{$spacing-x} * #{$size-coefficient-x});
  font-size: #{$size-font-size};
  height: #{$size-control-block-size};
  line-height: #{$size-line-height};

  &:hover {
    border-color: rgba(#{$button-border-color-hover});
    background-color: rgba(#{$button-background-color-hover});
    box-shadow: #{$button-box-shadow-hover};
    backdrop-filter: #{$button-backdrop-filter-hover};
    color: rgba(#{$button-color-hover});
  }

  &.focus,
  &:focus {
    border-color: rgba(#{$button-border-color-focus});
    background-color: rgba(#{$button-background-color-focus});
    box-shadow: #{$button-box-shadow-focus};
    backdrop-filter: #{$button-backdrop-filter-focus};
    color: rgba(#{$button-color-focus});
  }

  &:active,
  &.active {
    border-color: rgba(#{$button-border-color-active});
    background-color: rgba(#{$button-background-color-active});
    box-shadow: #{$button-box-shadow-active};
    backdrop-filter: #{$button-backdrop-filter-active};
    color: rgba(#{$button-color-active});
  }

  &:disabled,
  &.disabled {
    border-color: rgba(#{$button-border-color-disabled});
    background-color: rgba(#{$button-background-color-disabled});
    box-shadow: #{$button-box-shadow-disabled};
    backdrop-filter: #{$button-backdrop-filter-disabled};
    color: rgba(#{$button-color-disabled});
    cursor: not-allowed;
  }

  &.block {
    width: 100%;
  }

  .#{$loader} {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  > span {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: inherit;
    line-height: inherit;
  }
}
