@use "@toife/sass-layer" as sass;

// Class name
$card-body: sass.fn-naming-prefix("card-body");

// Property name - layer: card
$padding-y: sass.fn-naming-var("spacing", "y");
$padding-x: sass.fn-naming-var("spacing", "x");
$transition-duration: sass.fn-naming-var("transition-duration");

.#{$card-body} {
  padding: calc(#{$padding-y} * 4) calc(#{$padding-x} * 4);
  transition:
    border-color #{$transition-duration} ease,
    border-radius #{$transition-duration} ease;
}
